@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body{
    padding: 0;
    margin: 0;
}

.menu-div{
    font-family: 'Itim', cursive;
    padding: 1%;
    background: greenyellow;
    background-color: #f97270;
    border-top: 2px solid #8a7070;
    border-bottom: 2px solid #8a7070;
    width: 100%;
    display: flex;
}

ul{
    list-style: none;
}

.menu-div label{
    color: #fff8f7;
    cursor: pointer;
 }

 .menu-div img{
    padding: 0;
    margin: 0;
    max-width: 15%;
}

.menu-div div{
    display: inline;
    padding: 0;
}

.menu-div nav{
    display: inline-block;
    margin: 0;
    padding: 30px;
    width: 80%;
    text-align: right;
}

.menu-div ul{
    margin: 0;
    padding-right: 5%;
}

.menu-div li{
    display: inline;
    font-size: 25px;
    margin: 2%;
}